/*
@-moz-document regexp(".*\\.pdf$")
*/
html[mozdisallowselectionprint]:has(head link:nth-of-type(1)[href^="resource://pdf.js"])
{
    /* https://github.com/mozilla/pdf.js/issues/2784#issuecomment-366480669 */
    #outerContainer #mainContainer div.toolbar {
        opacity: 0;
        transition: opacity 48ms ease-out 200ms;
    }
    #outerContainer
        #mainContainer
        div.toolbar:is(
            :hover,
            :has(#editorModeButtons .toolbarButton.toggled, #secondaryToolbarToggleButton.toolbarButton.toggled)
        ) {
        opacity: 1;
    }

    #outerContainer #mainContainer #viewerContainer {
        top: 0 !important; /* move doc up into empty bar space */
    }

    #toolbarContainer {
        height: 43px !important;
    }

    #sidebarContainer {
        inset-block: 0 0 !important;
        width: calc(var(--sidebar-width) + 8px) !important;
        #toolbarSidebar {
            height: 42.5px !important;
            box-shadow: var(--toolbar-box-shadow) !important;
        }
        #sidebarContent {
            inset-block: 43.5px 0 !important;
        }
    }

    #outerContainer.sidebarOpen #mainContainer {
        margin-inline-start: calc(var(--sidebar-width) + 8px) !important;
        #viewerContainer {
            left: 0 !important;
        }
    }
}
