/*
@-moz-document regexp(".*\\.pdf$")
*/
html[mozdisallowselectionprint]:has(head link:nth-of-type(1)[href^="resource://pdf.js"])
{
    /* https://github.com/mozilla/pdf.js/issues/2784#issuecomment-366480669 */
    .toolbar {
        opacity: 0;
        transition: opacity 48ms ease-out 200ms;
    }
    .toolbar:is(:hover, :has(.toolbarButtonWithContainer > .toggled, #secondaryToolbarToggleButton.toggled)) {
        opacity: 1;
    }

    #viewerContainer {
        top: 0 !important; /* move doc up into empty bar space */
    }

    #toolbarContainer {
        height: 43px !important;
    }

    #sidebarContainer {
        inset-block: 0 0 !important;
        width: calc(var(--sidebar-width) + 8px) !important;
        #toolbarSidebar {
            height: 42.5px !important;
            box-shadow: var(--toolbar-box-shadow) !important;
        }
        #sidebarContent {
            inset-block: 43.5px 0 !important;
        }
    }

    #outerContainer.sidebarOpen #mainContainer {
        margin-inline-start: calc(var(--sidebar-width) + 8px) !important;
        #viewerContainer {
            left: 0 !important;
        }
    }

    @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
        -moz-pref("uc.flex.browser-wallpaper-enabled") {
        @media -moz-pref("browser.tabs.allow_transparent_browser") {
            body {
                background-color: transparent !important;
            }
            #toolbarSidebar {
                background-color: rgb(from var(--sidebar-toolbar-bg-color) r g b / calc(alpha * 0.65)) !important;
            }
            #sidebarContent {
                background-color: rgb(from var(--body-bg-color) r g b / calc(alpha * 0.65));
            }
            #outerContainer #mainContainer div.toolbar {
                backdrop-filter: blur(26px) saturate(140%);
            }
            #toolbarContainer {
                background-color: rgb(from var(--toolbar-bg-color) r g b / calc(alpha * 0.8)) !important;
            }
        }
    }
}
