@-moz-document regexp("^moz-extension://.*?/sidebar/sidebar.html")
{
    /* Add text stroke */
    @media -moz-pref("uc.flex.add-ui-text-stroke") {
        * {
            /* font-family: <your custom font> !important; */
            text-shadow: 0 0 0.03em color-mix(in srgb, currentColor 80%, transparent);
            /* -webkit-text-stroke: 0.015em; */
        }
        @media (prefers-color-scheme: dark) {
            .Tab[data-group="true"][data-parent="true"] .body .t-box .title {
                text-shadow: none;
                -webkit-text-stroke: 0.03em;
            }
        }
    }

    /* When Sidebery's auto-collapse is disabled, stop the transition effect when hovering over Sidebery */
    /*
    @media (-moz-pref("uc.flex.disable-sidebery-autohide") or -moz-pref("uc.flex.disable-sidebery-hover-animations")) and (not -moz-pref("uc.flex.fully-hide-sidebery")) and (not (display-mode: fullscreen))
    */
    #root:not([data-nav-inline="true"]) .NavigationBar {
        .nav-item[data-active="true"] > svg {
            width: 16px !important;
            height: 16px !important;
        }
        &:hover .nav-item[data-active="true"] > svg {
            width: 22px !important;
            height: 22px !important;
        }
    }

    @media (width > 50px) {
        #root:not([data-nav-inline="true"]) .NavigationBar {
            max-height: 40px;
            height: 40px !important;
            padding: 3px 0px 2.5px 5px !important;
            margin-bottom: 4px !important;
            border-bottom: 1px solid #ced1d4 !important;
            @media (prefers-color-scheme: dark) {
                border-bottom: 1px solid #686869b3 !important;
            }
            overflow: hidden;
            &:not(:hover) {
                transition:
                    max-height 50ms ease-in-out 50ms,
                    height 50ms ease-in-out 50ms !important;
            }
        }

        #root:not([data-nav-inline="true"]) .NavigationBar:hover {
            max-height: 100vh;
            height: auto !important;
            transition:
                max-height 50ms ease-in-out 500ms,
                height 50ms ease-in-out 500ms !important;
        }

        #root:not([data-nav-inline="true"]) .NavigationBar .nav-item .icon {
            width: 16px;
            height: 16px;
            transition:
                width 50ms ease-in-out 50ms,
                height 50ms ease-in-out 50ms !important;
        }

        #root:not([data-nav-inline="true"]) .NavigationBar:hover .nav-item .icon {
            width: 22px;
            height: 22px;
            transition:
                width 50ms ease-in-out 120ms,
                height 50ms ease-in-out 120ms !important;
        }

        #root[data-nav-inline="true"] .NavigationBar {
            max-height: 30px;
            padding: 0px !important;
            margin-bottom: 0px !important;
            border-bottom: none !important;
        }

        #root .PinnedTabsBar .Tab .fav,
        #root .PinnedTabsBar .Tab .fav-icon {
            width: 20px !important;
            height: 20px !important;
        }

        #root .PinnedTabsBar {
            padding-left: 4px !important;
        }

        #root .PinnedTabsBar {
            margin-left: 0px !important;
        }
        #root .TabsPanel .new-tab-btns {
            margin-left: 0px !important;
        }
        #root .tool-btn > svg {
            margin-left: 0px !important;
        }

        #root .ScrollBox .Tab {
            --tabs-inner-gap: 5px !important;
            margin-left: 6.6px !important;
        }

        #root[data-tabs-tree-lvl-marks="true"]:not(:hover) .Tab[data-pin="false"]:not([data-lvl="0"]) .body:after {
            display: block !important;
        }
    }

    @media -moz-pref("uc.flex.allow-addons-to-change-toolbar-color"),
        not (-moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") or -moz-pref("extensions.activeThemeID", "firefox-compact-light@mozilla.org") or -moz-pref("extensions.activeThemeID", "firefox-compact-dark@mozilla.org")) {
        #root {
            --tabs-activated-bg: var(--active-el-bg) !important;

            @media (prefers-color-scheme: dark) {
                .Tab[data-selected="true"] .body {
                    --frame-el-overlay-selected-border: var(--s-accent, #47cfff) !important;
                    background-color: var(--tabs-activated-bg) !important;
                    box-shadow: var(--tabs-activated-shadow) !important;
                }
            }
            &[data-frame-color-scheme="dark"] {
                --frame-bg: var(--s-frame-bg, #282828) !important;
                --toolbar-bg: var(--s-toolbar-bg, #323232) !important;
            }

            @media (prefers-color-scheme: light) {
                .Tab[data-selected="true"] .body {
                    --frame-el-overlay-selected-border: var(--s-accent, #146fd9) !important;
                    background-color: var(--tabs-activated-bg) !important;
                    box-shadow: var(--tabs-activated-shadow) !important;
                }
            }
            &[data-frame-color-scheme="light"] {
                --frame-bg: var(--s-frame-bg, #eaeaea) !important;
                --toolbar-bg: var(--s-toolbar-bg, #fafafa) !important;
            }

            .NewTabShortcutsPopup {
                --toolbar-bg: var(--popup-bg) !important;
            }

            .SiteConfigPopup {
                --toolbar-bg: var(--popup-bg) !important;
            }
        }
    }
}
