#sidebar-box {
    max-width: calc(100% - 496px) !important;
    min-width: 44px !important;
}

/* Reduce header size */
@media (prefers-color-scheme: dark) {
    #sidebar-header {
        font-size: 1.2em !important;
        padding: 2px 6px 2px 3px !important;
        /*color: #fff !important;*/
    }
}
@media (prefers-color-scheme: light) {
    #sidebar-header {
        font-size: 1.2em !important;
        padding: 2px 6px 2px 3px !important;
        /*color: #000 !important;*/
    }
}
#sidebar-header #sidebar-close {
    padding: 3px !important;
}
#sidebar-header #sidebar-close .toolbarbutton-icon {
    width: 14px !important;
    height: 14px !important;
    opacity: 0.6 !important;
}

/* Expand sidebar header on hover */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]) {
    #sidebar-header:hover {
        background-color: var(--uc-sidebar-color) !important;
        min-width: var(--uc-sidebar-hover-width) !important;
        transition:
            max-height 115ms ease-in-out 10ms,
            min-height 115ms ease-in-out 10ms,
            min-width 115ms ease-in-out 10ms,
            padding 115ms ease-in-out 10ms,
            opacity 115ms ease-in-out 10ms;
    }

    #sidebar-header:hover :is(#sidebar-switcher-target, #sidebar-close) {
        transition: opacity 115ms ease-in-out 10ms;
    }

    /* Modified from https://www.reddit.com/r/FirefoxCSS/comments/77ehp1/how_to_hide_the_title_of_webextension_sidebars/ */
    /* Minimize sidebar header to a stripe (except Bookmarks, History, Sync'd Tabs); appears normally on hover */
    @media (-moz-bool-pref: "uc.flex.fully-hide-sidebery") {
        &:hover #sidebar-header:not(:hover):not(:has(.active)) {
            --uc-sidebar-width: 44px;
            max-height: 5px !important;
            min-height: 5px !important;
            min-width: var(--uc-sidebar-width) !important;
            overflow: hidden;
            padding: 0 !important;
            background-color: color-mix(in srgb, var(--uc-sidebar-header-stripe) 50%, var(--uc-sidebar-color)) !important;
            opacity: 1 !important;
            transition:
                max-height var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-hover-sidebar-delay),
                min-height var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-hover-sidebar-delay),
                min-width var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-hover-sidebar-delay),
                padding var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-hover-sidebar-delay),
                background-color 0ms var(--uc-autohide-transition-type) 0ms,
                opacity 0ms var(--uc-autohide-transition-type) 0ms;
        }

        @media (prefers-color-scheme: dark) {
            &:hover #sidebar-header:not(:hover):not(:has(.active)) {
                background-color: color-mix(in srgb, var(--uc-sidebar-header-stripe) 70%, var(--uc-sidebar-color)) !important;
            }
        }

        @media (-moz-bool-pref: "uc.flex.sidebery-fast-hover-expand") {
            &:not(:hover) #sidebar-header:not(:hover):not(:has(.active)) {
                transition: none !important;
            }
        }
    }

    #sidebar-header:not(:hover):not(:has(.active)) {
        max-height: 5px !important;
        min-height: 5px !important;
        min-width: var(--uc-sidebar-width) !important;
        overflow: hidden;
        padding: 0 !important;
        background-color: var(--uc-sidebar-header-stripe) !important;
        opacity: 0.5 !important;
        transition:
            max-height 115ms ease-in-out 10ms,
            min-height 115ms ease-in-out 10ms,
            min-width 115ms ease-in-out 10ms,
            padding 115ms ease-in-out 10ms,
            background-color 115ms ease-in-out 10ms,
            opacity 0ms ease-in-out 0ms;
    }

    @media (prefers-color-scheme: dark) {
        #sidebar-header:not(:hover):not(:has(.active)) {
            opacity: 0.7 !important;
        }
    }

    &:not(:has(.active)) #sidebar-header:not(:hover) #sidebar-switcher-target,
    #sidebar-header:not(:hover) #sidebar-close {
        /* BAD NEWS: display: none !important; */
        opacity: 0 !important;
        transition: opacity 0ms ease-in-out 0ms;
    }

    /* Remove header's bottom line */
    #sidebar-header:not(:hover) {
        border-bottom: none !important;
    }
}

:root[inFullscreen] {
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]) {
        &:hover #sidebar-header:not(:hover):not(:has(.active)) {
            --uc-sidebar-width: 44px;
            max-height: 5px !important;
            min-height: 5px !important;
            min-width: var(--uc-sidebar-width) !important;
            overflow: hidden;
            padding: 0 !important;
            background-color: color-mix(in srgb, var(--uc-sidebar-header-stripe) 50%, var(--uc-sidebar-color)) !important;
            opacity: 1 !important;
            transition:
                max-height var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-hover-sidebar-delay),
                min-height var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-hover-sidebar-delay),
                min-width var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-hover-sidebar-delay),
                padding var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-hover-sidebar-delay),
                background-color 0ms var(--uc-autohide-transition-type) 0ms,
                opacity 0ms var(--uc-autohide-transition-type) 0ms;
        }

        @media (prefers-color-scheme: dark) {
            &:hover #sidebar-header:not(:hover):not(:has(.active)) {
                background-color: color-mix(in srgb, var(--uc-sidebar-header-stripe) 70%, var(--uc-sidebar-color)) !important;
            }
        }

        @media (-moz-bool-pref: "uc.flex.sidebery-fast-hover-expand") {
            &:not(:hover) #sidebar-header:not(:hover):not(:has(.active)) {
                transition: none !important;
            }
        }
    }
}

/* Auto-hide sidebar in fullscreen or when Sidebery is fully hidden */
@media (-moz-bool-pref: "uc.flex.fully-hide-sidebery"), (display-mode: fullscreen) {
    @media (-moz-bool-pref: "sidebar.revamp") {
        :root[sizemode="normal"]
            :has(#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden])) {
            #sidebar-main:not([positionend]) {
                margin-left: calc(-1 * var(--uc-sidebar-width) - 6px);
                margin-right: -8px;
                ~ #tabbrowser-tabbox {
                    padding-left: 0px;
                }
            }
            #sidebar-main[positionend] {
                margin-right: calc(-1 * var(--uc-sidebar-width) + 1px);
                margin-left: -7px;
                ~ #tabbrowser-tabbox {
                    padding-right: 0px;
                }
            }
        }
    }

    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]) {
        &:not([positionend]) {
            /* Fixed position for left-side sidebar */
            position: absolute;
            left: 0px;
            height: 100%;
            /* Make sidebar transparent */
            opacity: 0;
            &:hover {
                /*=============================================
                =            Show sidebar on hover            =
                =============================================*/
                /**
                * Extend opacity transition delay slightly (10ms) 
                * to avoid abrupt display changes when opacity changes from 0 to 1 
                */
                transition: opacity var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                    calc(var(--uc-hover-sidebar-delay) + 10ms) !important;
                opacity: 1;
            }
        }

        &[positionend] {
            /* Fixed position for right-side sidebar */
            position: absolute;
            right: 0px;
            /**
             * When the revamped sidebar is enabled and Sidebery is placed on the right side and fully hidden, 
             * tweak the sidebar-box edge position to trigger hover auto-expansion under various UI scales 
             * (set to 0.6px, supporting up to layout.css.devPixelsPerPx of 2.0x) 
             */
            @media (-moz-bool-pref: "sidebar.revamp") {
                right: 0.6px;
            }
            height: 100%;
            opacity: 0;
            &:hover {
                /*=============================================
                =            Show sidebar on hover            =
                =============================================*/
                /**
                * Extend opacity transition delay slightly (10ms) 
                * to avoid abrupt display changes when opacity changes from 0 to 1 
                */
                transition: opacity var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                    calc(var(--uc-hover-sidebar-delay) + 10ms) !important;
                opacity: 1;
            }
        }
    }
}
