/* Modified from https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/autohide_tabstoolbar_v2.css */
/* 7baf1d3 */
@media (-moz-bool-pref: "sidebar.verticalTabs") {
    #sidebar-main:has(> [expanded]) {
        overflow: visible !important;
        max-width: var(
            --tab-collapsed-width
        ) !important; /* Use !important to override the max-width styles in Nightly (v135) */
        z-index: var(--browser-area-z-index-toolbox-while-animating);
        transition: z-index 0s linear var(--uc-tabs-hide-duration);
    }
    #sidebar-main > [expanded] {
        --tab-pinned-horizontal-count: 5; /* This needs to match whatever is used in sidebar-main.css - currently 5 */
        background: inherit;
        overflow: hidden;
        min-width: var(--tab-collapsed-width);
        transition: min-width var(--uc-tabs-hide-animation-duration) ease-out var(--uc-tabs-hide-animation-delay);
        border-inline: 0.01px solid var(--chrome-content-separator-color);
        border-inline-width: 0 0.01px;
        &[positionend] {
            transition-property: min-width, transform;
            border-inline-width: 0.01px 0;
        }
    }
    #sidebar-main > [expanded]:hover {
        min-width: calc(
            var(--tab-pinned-horizontal-count) * var(--tab-pinned-min-width-expanded) + 2 *
                var(--tab-pinned-container-margin-inline-expanded) + 1px
        );
        transition-delay: 0ms !important;
        &[positionend] {
            transform: translateX(calc(var(--tab-collapsed-width) - 100%));
        }
    }
}

@media not ((-moz-bool-pref: "sidebar.verticalTabs") or (-moz-bool-pref: "uc.flex.fully-hide-toolbox") or (-moz-bool-pref: "uc.flex.disable-tabs-toolbar-autohide")) {
    :root:not([inFullscreen]) {
        /* Hide the native horizontal tab bar */
        &:not([customizing], [chromehidden~="menubar"]) #TabsToolbar {
            margin-bottom: var(--uc-autohide-bottom);
        }
        #navigator-toolbox {
            /* The z-index property is no longer needed after version 133 */
            z-index: 5;
            transition: margin-bottom var(--uc-tabs-hide-animation-duration) ease-out
                var(--uc-tabs-hide-animation-delay) !important;
            --browser-area-z-index-toolbox: 3;
        }
        #TabsToolbar:not([customizing]) {
            visibility: hidden;
            transition:
                visibility 0ms linear var(--uc-tabs-hide-animation-delay),
                margin-bottom var(--uc-tabs-hide-animation-duration) ease-out var(--uc-tabs-hide-animation-delay) !important;
        }
        /* These rules make sure that height of tabs toolbar doesn't exceed tab-min-height */
        #tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
            max-height: var(--tab-min-height);
        }
        .tab-label {
            line-height: 20px !important;
        }
        &[uidensity="compact"] .tab-label {
            line-height: 18px !important;
        }
        /* ---- Show tab bar on hover when Sidebery is inactive ---- */
        /**
         * Speed hack: If the property content in the declaration block does not define variables, 
         * :root :has() can be used instead of :root:has(). 
         * However, this may increase the risk of variable overrides, leading to unpredictable outcomes.
         * Avoid using :not(:has(foo[A]:not([B]))); 
         * instead, use :has(foo[B], foo:not([A])).
         */
        /**
         * Based on actual testing, using body:has() is 1.2 times faster than :root :has() for this rule. 
         * However, for other rules, body:has() might be slower. 
         */
        /*body:has(
                #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][hidden],
                #sidebar-box:not([sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"])
            ) {*/
            /**
             * The selector below becomes ineffective due to the parent selector using :root :has(), 
             * but it doesn't seem to affect the outcome. 
             */
        /*}*/
        /* The speed optimization mentioned above is no longer necessary, but the comment remains for future reference */
        &:not([customizing], [chromehidden~="menubar"]) #navigator-toolbox:hover {
            margin-bottom: var(--uc-autohide-navigator-bottom);
        }
        #navigator-toolbox:hover {
            transition-delay: var(--uc-autohide-navigator-delay) !important;
            /* Direct child selectors can be used starting from version 133 */
            #TabsToolbar {
                visibility: var(--uc-autohide-tabstoolbar-visibility);
                margin-bottom: var(--uc-autohide-tabstoolbar-bottom);
                transition-delay: var(--uc-autohide-tabstoolbar-delay) !important;
            }
        }
    }
}

/** 
 * The auto-hide horizontal tabs feature excludes scenarios like 
 * "fullscreen," "disable tab hiding," and "hide top toolbar." 
 * Specific rules are required for these cases. 
 */
/* Hide tabs bar for Tree style tabs (Credit u/jfgxyz on Reddit) */
/*
toolbar#TabsToolbar {
    height: 0px;
    min-height: 0 !important;
    background-color: var(--bg) !important;
}
*/
.toolbar-items {
    visibility: var(--uc-tab-items-visibility);
}
