/* Modified from https://github.com/christorange/VerticalFox/blob/main/windows/userChrome.css */
/* Fix PersonalToolbar height to prevent toolbar buttons from altering its size */
#PersonalToolbar {
    height: calc(var(--uc-bm-height) + 2 * var(--uc-bm-padding));
}

/* Prevent navigation bar background overflow in certain themes */
@media not -moz-pref("uc.flex.allow-addons-to-change-toolbar-color") {
    #nav-bar:not([customizing]) {
        padding-bottom: var(--uc-nav-bar-padding-bottom) /*!important*/;
        margin-bottom: var(--uc-nav-bar-margin-bottom) /*!important*/;
    }
}

/* Fix urlbar height issue in v133 */
#urlbar-container,
#urlbar {
    --urlbar-height: 32px !important;
    --urlbar-container-height: 40px !important;
}
#urlbar-container {
    padding-top: 5.5px !important;
}
/* The [style*="--urlbar-width"] attribute is no longer needed after version 133 */
#urlbar[breakout][style*="--urlbar-width"] {
    display: block !important;
    position: absolute !important;
    height: var(--urlbar-height) !important;
    width: var(--urlbar-width) !important;
}
#urlbar[breakout][breakout-extend],
#urlbar[breakout][breakout-extend-disabled][open] {
    height: auto !important;
    top: auto !important;
}

:root:not([customizing]) #urlbar {
    --urlbar-toolbar-height: 43px;
    /* The [style*="--urlbar-width"] attribute is no longer needed after version 133 */
    &:not([style*="--urlbar-width"]) {
        top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
        left: 0 !important;
    }
}

/*
:root:not([customizing]) #urlbar {
    -urlbar-toolbar-height: calc(46px + var(--uc-nav-bar-margin-bottom)) !important;
}
*/

/* Hide menubar window controls when menubar is inactive */
:root:is([tabsintitlebar], [customtitlebar]):not([customizing]) {
    &:not([inFullscreen]) {
        #toolbar-menubar[inactive="true"] > .titlebar-buttonbox-container {
            display: none !important;
        }

        /* Hide TabsToolbar and nav-bar window controls when menubar is active */
        #toolbar-menubar:not([inactive="true"]) ~ :is(#TabsToolbar, #nav-bar) > .titlebar-buttonbox-container {
            display: none !important;
        }
    }

    /* Hide TabsToolbar window controls when native vertical tabs are enabled */
    #navigator-toolbox[tabs-hidden] > #TabsToolbar > .titlebar-buttonbox-container {
        display: none !important;
    }

    #navigator-toolbox[tabs-hidden] > #nav-bar > .titlebar-spacer[type="post-tabs"] {
        display: none !important;
    }

    #navigator-toolbox[tabs-hidden] > #nav-bar > .titlebar-buttonbox-container {
        margin-left: -4px;
    }

    #navigator-toolbox .titlebar-spacer[type="pre-tabs"] {
        display: none !important;
    }
}

/* Adjust menubar (title bar) height */
:root:is([tabsintitlebar], [customtitlebar]):not([customizing]):not([inFullscreen]) {
    #navigator-toolbox #toolbar-menubar[autohide="false"] {
        margin-top: 0px;
        margin-bottom: -7px;
    }

    #navigator-toolbox #toolbar-menubar[autohide="false"] > .titlebar-buttonbox-container {
        margin-top: -7px;
        margin-bottom: 0px;
    }

    #navigator-toolbox #toolbar-menubar[autohide="true"]:not([inactive="true"]) {
        margin-top: 0px;
        margin-bottom: -11px;
    }

    #navigator-toolbox #toolbar-menubar[autohide="true"]:not([inactive="true"]) > .titlebar-buttonbox-container {
        margin-top: -7px;
        margin-bottom: 0px;
    }
}

/* Increase left spacing for bookmarks */
#personal-bookmarks {
    margin-left: var(--uc-bookmarks-margin-left);
}

/* Fix popup position */
#appMenu-popup {
    margin-inline: -244px !important;
}

/*=============================================
=              Windows Controls               =
=============================================*/

/* ----- Close/min/max fix ----- */
:root:is([tabsintitlebar], [customtitlebar]):not([customizing]) {
    #TabsToolbar .titlebar-buttonbox-container {
        visibility: var(--uc-windows-controls-visibility) !important;
        /*display: block;*/
        position: var(--uc-windows-controls-position) !important;
        top: var(--uc-windows-controls-top) !important;
        /*left: unset !important;*/
        right: var(--uc-windows-controls-right) !important;
    }
}

/*
#TabsToolbar .titlebar-min {
    -moz-box-ordinal-group: 0 !important;
}

#TabsToolbar .titlebar-max,
.titlebar-restore {
    -moz-box-ordinal-group: 1 !important;
}

#TabsToolbar .titlebar-close {
    -moz-box-ordinal-group: 2 !important;
}

&[inFullscreen] #navigator-toolbox #TabsToolbar .titlebar-buttonbox-container {
    -moz-box-ordinal-group: 1 !important;
}

#navigator-toolbox #TabsToolbar .titlebar-buttonbox-container {
    -moz-box-ordinal-group: 1 !important;
}
*/

/*==========  End of Section Windows Controls  ===========*/

/* Line up the Windows controls with the rest of the icons in the toolbar. */
:root[inFullscreen] .titlebar-buttonbox-container {
    padding-top: 2px;
}

.titlebar-buttonbox {
    z-index: 3 !important;
    padding-right: 3px;
}

.titlebar-buttonbox * {
    border-radius: 5px;
    width: 35px;
    height: 38px;
}

/*=============================================
=                  Nav Bar                    =
=============================================*/

/* Adjust left margin of the navigation bar to align toolbar icons with sidebar */
#nav-bar:not([customizing]) {
    margin-left: var(--uc-nav-bar-margin-left);
}

:root[inFullscreen] {
    --uc-nav-bar-margin-left: -5px;
    --uc-findbar-set-top: calc(var(--uc-bm-padding) + var(--uc-bm-height) + var(--urlbar-toolbar-height));
}

/* Fix issue with missing window controls. */
#titlebar,
#TabsToolbar {
    will-change: unset !important;
    transition: none !important;
    opacity: 1 !important;
}

/* ----  Move nav-bar to make room for window controls ---- */
/**
 * Condition A excludes cases where the title bar is enabled. 
 * However, since the title bar is not displayed in fullscreen mode, 
 * we need to add Condition B (`:root[inFullscreen]`) to account for that scenario. 
 */
:root:is([tabsintitlebar], [customtitlebar]):not([customizing]),
:root[inFullscreen] {
    #nav-bar {
        padding-left: 0px;
        padding-right: var(--uc-nav-bar-padding-right) !important;
    }
}

:root:not([inFullscreen]) {
    /**
     * When the menu bar is enabled, the nav-bar no longer needs the padding reserved for the window controls on the right. 
     * In this case, the padding should either be reduced by the width of the window controls or set to 0.
     */
    :is(#toolbar-menubar[autohide="false"], #toolbar-menubar[autohide="true"]:not([inactive="true"])) ~ #nav-bar {
        --uc-nav-bar-padding-right: 0px;
    }

    @media -moz-pref("uc.flex.fully-hide-toolbox") {
        --uc-findbar-set-top: calc(var(--uc-bm-padding) + var(--uc-bm-height) + var(--urlbar-toolbar-height));
    }

    @media -moz-pref("uc.flex.fully-hide-toolbox") and (not -moz-pref("uc.flex.fully-hide-sidebery")) {
        #navigator-toolbox {
            margin-left: var(--uc-navigator-offset);
            width: calc(100% - var(--uc-sidebar-width, 0));
        }
    }
}

/**
 * When native vertical tabs are enabled, 
 * the windows controls on the TabsToolbar are disabled, 
 * so the nav-bar no longer needs to reserve space on the right for these controls, 
 * and the padding should be reset to 0. 
 */
@media -moz-pref("sidebar.verticalTabs") {
    #navigator-toolbox {
        --uc-nav-bar-padding-right: 0px;
    }
}

/*==========  End of Section Nav Bar  ===========*/

/*=============================================
=               PersonalToolbar               =
=============================================*/

/* Offset bookmarks toolbar horizontally when Sidebery is visible to prevent overlap with sidebar */
@media not -moz-pref("uc.flex.fully-hide-sidebery") {
    :root:not([inFullscreen]):not([customizing]) {
        #PersonalToolbar {
            margin-left: var(--uc-personal-toolbar-offset);
            width: calc(100% - var(--uc-personal-toolbar-width));
        }
    }
}

/**
 * Avoid overlap of the bookmarks toolbar by the sidebar
 * when "Only Show Bookmarks Toolbar on New Tab" is enabled for Firefox < 130 
 */
:root[BookmarksToolbarOverlapsBrowser] {
    #navigator-toolbox {
        margin-bottom: 0 !important;
    }
    #browser {
        margin-top: calc(-1 * var(--bookmarks-toolbar-overlapping-browser-height));
    }
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]) {
        padding-top: 0px !important;
        @media not -moz-pref("uc.flex.disable-bookmarks-autohide") {
            margin-top: calc(var(--uc-bm-height) + 2 * var(--uc-bm-padding));
        }
    }
}

/**
 * Avoid overlap of the bookmarks toolbar by the sidebar
 * when "Only Show Bookmarks Toolbar on New Tab" is enabled for Firefox >= 130 
 */
@media -moz-pref("uc.flex.disable-bookmarks-autohide") {
    :root:not([inFullscreen]):not([customizing]):not([BookmarksToolbarOverlapsBrowser]) {
        /* Recalculate the findbar position if "uc.flex.disable-bookmarks-autohide" is enabled */
        --uc-findbar-set-top: calc(-1 * var(--uc-bm-padding));

        #navigator-toolbox:has(#PersonalToolbar[collapsed="false"])
            + #browser
            #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]) {
            padding-top: 0px;
            margin-top: calc(-1 * (var(--uc-bm-height) + 2 * var(--uc-bm-padding)));
        }
    }
}

/*==========  End of Section PersonalToolbar  ===========*/
