/* Remove the border and rounded corners from the webpage content area */
@media -moz-pref("sidebar.revamp") {
    #tabbrowser-tabbox {
        outline: none !important;
        box-shadow: none !important;
        @media -moz-pref("sidebar.revamp.round-content-area") {
            @media -moz-pref("sidebar.position_start") {
                border-start-start-radius: var(--uc-sb-tabbox-border-radius, var(--border-radius-medium)) !important;
            }
            @media not -moz-pref("sidebar.position_start") {
                border-start-end-radius: var(--uc-sb-tabbox-border-radius, var(--border-radius-medium)) !important;
            }
            @media -moz-pref("uc.flex.fully-hide-toolbox"),
                -moz-pref("uc.flex.fully-hide-sidebery"),
                (display-mode: fullscreen) {
                border-radius: 0 !important;
            }
            @media not (-moz-pref("uc.flex.fully-hide-toolbox") or -moz-pref("uc.flex.fully-hide-sidebery")) {
                :root:is([titlepreface*="\200b "], [titlepreface*="\200c "], [titlepreface*="\200d "]) & {
                    border-radius: 0 !important;
                }
            }
        }
    }
}

/* Add margin, shadow, and rounded corners to the web content area */
@media -moz-pref("uc.flex.enable-rounded-web-content") and (not (display-mode: fullscreen)) {
    @media not (-moz-pref("uc.flex.fully-hide-toolbox") and -moz-pref("uc.flex.fully-hide-sidebery")) {
        :root:not([titlepreface*="\200b "][titlepreface*="\200c "], [titlepreface*="\200d "]) {
            #tabbrowser-tabbox {
                box-shadow: none !important;
                outline: none !important;
                overflow: unset !important;
            }

            #tabbrowser-tabbox browser:not(.devtools-toolbox-bottom-iframe, .devtools-toolbox-side-iframe) {
                border-radius: var(--uc-web-content-radius-box);
                border-top-left-radius: var(--uc-sb-web-content-radius-top-left, var(--uc-web-content-radius-box));
                border-top-right-radius: var(--uc-sb-web-content-radius-top-right, var(--uc-web-content-radius-box));
                clip-path: inset(
                    0 round var(--uc-sb-web-content-radius-top-left, var(--uc-web-content-radius-box))
                        var(--uc-sb-web-content-radius-top-right, var(--uc-web-content-radius-box))
                        var(--uc-web-content-radius-box) var(--uc-web-content-radius-box)
                );
                background-color: light-dark(#fff, #202020) !important;
                -moz-window-dragging: no-drag;
            }

            .browserStack {
                border-radius: var(--uc-web-content-radius-box);
                margin: var(--uc-web-content-margin-box);
                box-shadow: 0 1.5px 9px light-dark(#00000026, #00000040);
            }

            #tabbrowser-tabpanels {
                /*
                margin-top: 0;
                transition: 0.25s !important;
                */
                background-color: transparent !important;
                @media not -moz-pref("uc.flex.allow-addons-to-change-toolbar-color") {
                    :root:not([lwtheme-image], [style*="--lwt-additional-images"]) {
                        background-color: var(--uc-bgcolor) !important;
                    }
                }
            }

            .devtools-toolbox-side-iframe {
                border-radius: var(--uc-web-content-radius-box);
                margin-top: var(--uc-web-content-margin-top, 0);
                margin-bottom: var(--uc-web-content-margin-large, var(--uc-web-content-margin-small)) !important;
                box-shadow: 0 1.5px 9px light-dark(#00000026, #00000040);
                -moz-window-dragging: no-drag;
                /** 
                 * These styles apply to the web developer tools iframe. 
                 * If Sidebery is shown (e.g. on the left side), we add margin to the iframe's opposite side (right). 
                 * If Sidebery is hidden, we add margin to the same side (left).
                 */
                &:first-child {
                    @media -moz-pref("sidebar.position_start") {
                        @media not -moz-pref("uc.flex.fully-hide-sidebery") {
                            :root:not([titlepreface*="\200c "]) & {
                                margin-right: var(
                                    --uc-web-content-margin-large,
                                    var(--uc-web-content-margin-small)
                                ) !important;
                                /* When Sidebery is hidden, add margin to the same side as Sidebery (left). */
                                @media not -moz-pref("sidebar.revamp") {
                                    #tabbrowser-tabbox:not([sidebar-panel-open]) & {
                                        margin-right: 0 !important;
                                        margin-left: var(
                                            --uc-web-content-margin-large,
                                            var(--uc-web-content-margin-small)
                                        ) !important;
                                    }
                                }
                            }
                            :root[titlepreface*="\200c "] & {
                                margin-left: var(
                                    --uc-web-content-margin-large,
                                    var(--uc-web-content-margin-small)
                                ) !important;
                            }
                        }
                        @media -moz-pref("uc.flex.fully-hide-sidebery") {
                            margin-left: var(
                                --uc-web-content-margin-large,
                                var(--uc-web-content-margin-small)
                            ) !important;
                        }
                    }
                    @media not -moz-pref("sidebar.position_start") {
                        margin-left: var(--uc-web-content-margin-large, var(--uc-web-content-margin-small)) !important;
                    }
                }
                &:last-child {
                    @media -moz-pref("sidebar.position_start") {
                        margin-right: var(--uc-web-content-margin-large, var(--uc-web-content-margin-small)) !important;
                    }
                    @media not -moz-pref("sidebar.position_start") {
                        @media not -moz-pref("uc.flex.fully-hide-sidebery") {
                            :root:not([titlepreface*="\200c "]) & {
                                margin-left: var(
                                    --uc-web-content-margin-large,
                                    var(--uc-web-content-margin-small)
                                ) !important;

                                @media not -moz-pref("sidebar.revamp") {
                                    #tabbrowser-tabbox:not([sidebar-panel-open]) & {
                                        margin-left: 0 !important;
                                        margin-right: var(
                                            --uc-web-content-margin-large,
                                            var(--uc-web-content-margin-small)
                                        ) !important;
                                    }
                                }
                            }
                            :root[titlepreface*="\200c "] & {
                                margin-right: var(
                                    --uc-web-content-margin-large,
                                    var(--uc-web-content-margin-small)
                                ) !important;
                            }
                        }
                        @media -moz-pref("uc.flex.fully-hide-sidebery") {
                            margin-right: var(
                                --uc-web-content-margin-large,
                                var(--uc-web-content-margin-small)
                            ) !important;
                        }
                    }
                }
            }

            .devtools-toolbox-bottom-iframe {
                border-radius: var(--uc-web-content-radius-box);
                margin: var(--uc-devtools-toolbox-margin-box) !important;
                box-shadow: 0 1.5px 9px light-dark(#00000026, #00000040);
            }

            .devtools-side-splitter,
            .devtools-horizontal-splitter {
                opacity: 0;
            }
        }

        #browser {
            clip-path: circle(100%);
            /*
        background-color: transparent !important;
        */
        }

        #statuspanel-label {
            border-bottom-left-radius: var(--uc-web-content-radius-box);
            #statuspanel:not([mirror]) > &:-moz-locale-dir(rtl),
            #statuspanel[mirror] > &:-moz-locale-dir(ltr) {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: var(--uc-web-content-radius-box);
            }
        }
    }
}
