/* Source file https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/autohide_bookmarks_toolbar.css */
/* 2ea55cb */

@media not (-moz-pref("uc.flex.disable-bookmarks-autohide") or -moz-pref("uc.flex.fully-hide-toolbox")) {
    :root:not([inFullscreen], [titlepreface*="\200b "], [titlepreface*="\200d "]) {
        #PersonalToolbar {
            /* 0deg = "show" ; 90deg = "hide" ;  Set the following to control when bookmarks are shown */
            --uc-autohide-toolbar-focus-rotation: 0deg; /* urlbar is focused */
            --uc-autohide-toolbar-hover-rotation: 0deg; /* cursor is over the toolbar area */
        }

        #PersonalToolbar:not([customizing]) {
            position: relative;
            margin-bottom: calc(0px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
            transform: rotateX(90deg);
            transform-origin: top;
            transition:
                opacity 80ms linear var(--uc-autohide-toolbar-delay),
                transform 80ms linear var(--uc-autohide-toolbar-delay) !important;
            @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                -moz-pref("uc.flex.browser-wallpaper-enabled") {
                transition:
                    opacity var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-autohide-sidebar-delay),
                    transform var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-autohide-sidebar-delay) !important;
            }
            z-index: 1;
            /* The following properties should allow the themes with trasparent toolbars to work */
            background-color: transparent !important;
            background-repeat: no-repeat, no-repeat, var(--lwt-background-tiling);
            /* y position will be wrong if menubar is enabled... */
            --uc-bg-y: calc(
                -2 * (
                        var(--tab-block-margin) + var(--toolbarbutton-inner-padding) +
                            var(--toolbarbutton-outer-padding)
                    ) - var(--tab-min-height) + var(--uc-theme-bg-y-clip) - var(--bookmark-block-padding)
            );
            background-position:
                top left,
                top left,
                var(--lwt-background-alignment, top left);
            background-position-y: top, top, var(--uc-bg-y), var(--uc-bg-y), var(--uc-bg-y);
            @media not (-moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica")) {
                @media not -moz-pref("uc.flex.browser-wallpaper-enabled") {
                    background-image: var(--toolbar-bgimage, linear-gradient(transparent, transparent)),
                        linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                        var(--lwt-header-image, var(--lwt-additional-images)) !important;
                }
            }

            /* Adjust the background image offset */
            @media not -moz-pref("uc.flex.fully-hide-sidebery") {
                :root:not([titlepreface*="\200c "], [titlepreface*="\200d "]) & {
                    background-position-x:
                        left,
                        left,
                        right var(--uc-theme-bg-x-right-end),
                        left var(--uc-theme-bg-x-left-start),
                        right;
                }
            }
        }

        @media -moz-pref("sidebar.verticalTabs") {
            #PersonalToolbar {
                --toolbar-bgcolor: transparent;
            }

            #PersonalToolbar:not([customizing]) {
                background-color: inherit !important;
                margin-bottom: calc(0px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
                --uc-bg-y: calc(
                    0px - (2 * var(--toolbarbutton-inner-padding) + var(--toolbarbutton-outer-padding)) -
                        var(--uc-theme-bg-y-clip) - var(--bookmark-block-padding)
                );
            }
        }

        &[uidensity="compact"] #PersonalToolbar {
            --toolbarbutton-outer-padding: 1px !important;
        }
        #PlacesToolbarItems > .bookmark-item,
        #OtherBookmarks,
        #PersonalToolbar > #import-button {
            padding-block: var(--uc-bm-padding) !important;
        }

        #nav-bar:focus-within + #PersonalToolbar {
            transition-delay: var(--uc-hover-toolbar-delay) !important;
            @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                -moz-pref("uc.flex.browser-wallpaper-enabled") {
                transition-duration: var(--uc-hover-transition-duration) !important;
                transition-delay: var(--uc-hover-sidebar-delay) !important;
            }
            transform: rotateX(var(--uc-autohide-toolbar-focus-rotation, 0));
        }
        #navigator-toolbox:is(:hover, :focus-within) {
            border-bottom-color: transparent !important;
        }
        #navigator-toolbox:hover > #PersonalToolbar {
            transition-delay: var(--uc-hover-toolbar-delay) !important;
            @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                -moz-pref("uc.flex.browser-wallpaper-enabled") {
                transition-duration: var(--uc-hover-transition-duration) !important;
                transition-delay: var(--uc-hover-sidebar-delay) !important;
            }
            transform: rotateX(var(--uc-autohide-toolbar-hover-rotation, 0));
        }

        #navigator-toolbox:hover > #nav-bar:focus-within + #PersonalToolbar {
            transform: rotateX(0);
        }

        /** 
         * Raise the z-index of #navigator-toolbox on hover
         * so its child bookmarks toolbar can appear above #tabbrowser-tabbox.
         * When not hovering, keep the z-index low so the tab box shadow stays on top. 
         */
        #navigator-toolbox:hover {
            --browser-area-z-index-toolbox: 5;
            transition:
                background-color var(--inactive-window-transition),
                margin-bottom var(--uc-tabs-hide-animation-duration) ease-out var(--uc-autohide-navigator-delay),
                z-index 0ms linear 0ms allow-discrete /* calc(var(--uc-hover-toolbar-delay) - 10ms) */ !important;
            @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                -moz-pref("uc.flex.browser-wallpaper-enabled") {
                transition:
                    background-color var(--inactive-window-transition),
                    margin-bottom var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-hover-sidebar-delay),
                    z-index 0ms linear 0ms allow-discrete /* calc(var(--uc-hover-sidebar-delay) - 10ms) */ !important;
            }
        }
        /** 
         * Add a delay to z-index transitions to avoid flickering
         * caused by unstable hover state inside #navigator-toolbox.
         */
        #navigator-toolbox {
            /** 
             * Although z-index is listed as an animatable integer on MDN,
             * Firefox treats it as a discrete property that requires 'allow-discrete'
             * for transition delays to take effect.
             * To avoid ambiguity, we still apply a manual delay equal to other
             * properties' delay + duration, ensuring the change happens after animation ends.
             */
            transition:
                background-color var(--inactive-window-transition),
                margin-bottom var(--uc-tabs-hide-animation-duration) ease-out var(--uc-tabs-hide-animation-delay),
                z-index 0ms linear calc(var(--uc-autohide-toolbar-delay) + 80ms + 10ms) allow-discrete !important;
            @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                -moz-pref("uc.flex.browser-wallpaper-enabled") {
                transition:
                    background-color var(--inactive-window-transition),
                    margin-bottom var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-autohide-sidebar-delay),
                    z-index 0ms linear
                        calc(var(--uc-autohide-sidebar-delay) + var(--uc-autohide-transition-duration) + 10ms)
                        allow-discrete !important;
            }
        }
    }
}
