/* Modified from https://github.com/christorange/VerticalFox/blob/main/windows/userChrome.css */
/* Active Tab */
/*
:root:not([lwt-default-theme-in-dark-mode]) .tab-background[selected],
.tab-background[multiselected="true"] {
    background: rgba(0, 0, 0, 0.05) !important;
}

:root[lwt-default-theme-in-dark-mode] .tab-background[selected],
.tab-background[multiselected="true"] {
    background: rgba(0, 0, 0, 0.2) !important;
}
*/

@media not -moz-pref("uc.flex.allow-addons-to-change-toolbar-color") {
    :root:not([lwtheme-image]) {
        #navigator-toolbox {
            --toolbar-bgcolor: var(--bg) !important;
            --toolbox-bgcolor-inactive: var(--bg) !important;
            background-image: none !important;
        }
    }
}

/* Navigation bar Buttons */
toolbarbutton:hover {
    cursor: pointer;
}

/* Show Tab close button on hover */
.tabbrowser-tab:not([pinned]) .tab-close-button {
    display: -moz-box !important;
    opacity: 0;
    visibility: collapse !important;
    transition:
        opacity 0.25s,
        visibility 0.25s ease-in !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    opacity: 1;
    visibility: visible !important;
    border-radius: 3px 3px 3px 3px !important;
}

/* ----- Move menu buttons ----- */
#nav-bar #PanelUI-button {
    -moz-box-ordinal-group: 0 !important;
}

#nav-bar #PanelUI-button #PanelUI-menu-button {
    margin-right: 2px !important;
    margin-left: 2px !important;
}

@media only screen and (max-width: 670px) {
    #main-window:not([inFullscreen]) #navigator-toolbox #TabsToolbar .titlebar-buttonbox-container {
        visibility: visible !important;
        position: relative !important;
        display: block !important;
    }
    #main-window:not([inFullscreen]) #navigator-toolbox #nav-bar {
        padding-right: initial !important;
    }
    #TabsToolbar.browser-toolbar {
        display: flex !important;
        justify-content: flex-end !important;
    }
}

/* Modified from https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/autohide_toolbox.css */
/* 9bf9c83 */

/* Hide the whole toolbar area unless urlbar is focused or cursor is over the toolbar */
/* Dimensions on non-Win10 OS probably needs to be adjusted */

@media -moz-pref("uc.flex.fully-hide-toolbox") {
    :root:not([inFullscreen]) {
        #navigator-toolbox {
            --browser-area-z-index-toolbox: 3;
            position: fixed !important;
            background-color: var(--lwt-accent-color, black) !important;
            transition:
                transform 82ms linear,
                opacity 82ms linear !important;
            transition-delay: var(--uc-autohide-toolbox-delay) !important;
            transform-origin: top;
            transform: rotateX(var(--uc-toolbox-rotation));
            opacity: 0;
            line-height: 0;
            z-index: 1;
            pointer-events: none;
            width: 100vw;
        }

        &[sessionrestored] #urlbar[popover] {
            pointer-events: none;
            opacity: 0;
            transition:
                transform 82ms linear var(--uc-autohide-toolbox-delay),
                /* Use !important to override the transition styles in Nightly (v135) */ opacity 0ms
                    calc(var(--uc-autohide-toolbox-delay) + 82ms) !important;
            transform-origin: 0px calc(0px - var(--tab-min-height) - var(--tab-block-margin) * 2);
            transform: rotateX(89.9deg);
        }

        #mainPopupSet:has(
                > [panelopen]:not(
                        #ask-chat-shortcuts,
                        #selection-shortcut-action-panel,
                        #chat-shortcuts-options-panel,
                        #tab-preview-panel
                    )
            )
            ~ toolbox
            #urlbar[popover],
        #navigator-toolbox:is(:hover, :focus-within, [movingtab]) #urlbar[popover],
        #urlbar-container > #urlbar[popover]:is([focused], [open]) {
            pointer-events: auto;
            opacity: 1;
            transition-delay: 33ms !important; /* Use !important to override the transition styles in Nightly (v135) */
            transform: rotateX(0deg);
        }

        #mainPopupSet:has(
                > [panelopen]:not(
                        #ask-chat-shortcuts,
                        #selection-shortcut-action-panel,
                        #chat-shortcuts-options-panel,
                        #tab-preview-panel
                    )
            )
            ~ toolbox,
        #navigator-toolbox:has(#urlbar:is([open], [focus-within])),
        #navigator-toolbox:is(:hover, :focus-within, [movingtab]) {
            transition-delay: 33ms !important;
            transform: rotateX(0);
            opacity: 1;
        }

        #navigator-toolbox > * {
            line-height: normal;
            pointer-events: auto;
        }

        /* Don't apply transform before window has been fully created */
        &:not([sessionrestored]) #navigator-toolbox {
            transform: none !important;
        }

        &[customizing] #navigator-toolbox {
            position: relative !important;
            transform: none !important;
            opacity: 1 !important;
        }

        /* This is a bit hacky fix for an issue that will make urlbar zero pixels tall after you enter customize mode */
        #urlbar[breakout][breakout-extend] > .urlbar-input-container {
            padding-block: calc(
                min(4px, (var(--urlbar-container-height) - var(--urlbar-height)) / 2) + var(--urlbar-container-padding)
            ) !important;
        }
    }
}

@media not -moz-pref("uc.flex.fully-hide-toolbox") {
    :root:is([titlepreface*="\200b "], [titlepreface*="\200d "]):not([inFullscreen]) {
        #navigator-toolbox {
            --browser-area-z-index-toolbox: 3;
            position: fixed !important;
            background-color: var(--lwt-accent-color, black) !important;
            transition:
                transform 82ms linear,
                opacity 82ms linear !important;
            transition-delay: var(--uc-autohide-toolbox-delay) !important;
            transform-origin: top;
            transform: rotateX(var(--uc-toolbox-rotation));
            opacity: 0;
            line-height: 0;
            z-index: 1;
            pointer-events: none;
            width: 100vw;
        }

        &[sessionrestored] #urlbar[popover] {
            pointer-events: none;
            opacity: 0;
            transition:
                transform 82ms linear var(--uc-autohide-toolbox-delay),
                /* Use !important to override the transition styles in Nightly (v135) */ opacity 0ms
                    calc(var(--uc-autohide-toolbox-delay) + 82ms) !important;
            transform-origin: 0px calc(0px - var(--tab-min-height) - var(--tab-block-margin) * 2);
            transform: rotateX(89.9deg);
        }

        #mainPopupSet:has(
                > [panelopen]:not(
                        #ask-chat-shortcuts,
                        #selection-shortcut-action-panel,
                        #chat-shortcuts-options-panel,
                        #tab-preview-panel
                    )
            )
            ~ toolbox
            #urlbar[popover],
        #navigator-toolbox:is(:hover, :focus-within, [movingtab]) #urlbar[popover],
        #urlbar-container > #urlbar[popover]:is([focused], [open]) {
            pointer-events: auto;
            opacity: 1;
            transition-delay: 33ms !important; /* Use !important to override the transition styles in Nightly (v135) */
            transform: rotateX(0deg);
        }

        #mainPopupSet:has(
                > [panelopen]:not(
                        #ask-chat-shortcuts,
                        #selection-shortcut-action-panel,
                        #chat-shortcuts-options-panel,
                        #tab-preview-panel
                    )
            )
            ~ toolbox,
        #navigator-toolbox:has(#urlbar:is([open], [focus-within])),
        #navigator-toolbox:is(:hover, :focus-within, [movingtab]) {
            transition-delay: 33ms !important;
            transform: rotateX(0);
            opacity: 1;
        }

        #navigator-toolbox > * {
            line-height: normal;
            pointer-events: auto;
        }

        /* Don't apply transform before window has been fully created */
        &:not([sessionrestored]) #navigator-toolbox {
            transform: none !important;
        }

        &[customizing] #navigator-toolbox {
            position: relative !important;
            transform: none !important;
            opacity: 1 !important;
        }

        /* This is a bit hacky fix for an issue that will make urlbar zero pixels tall after you enter customize mode */
        #urlbar[breakout][breakout-extend] > .urlbar-input-container {
            padding-block: calc(
                min(4px, (var(--urlbar-container-height) - var(--urlbar-height)) / 2) + var(--urlbar-container-padding)
            ) !important;
        }
    }
}
