/* Modified from https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/autohide_tabstoolbar_v2.css */
/* be179ef */
@media not (-moz-pref("sidebar.verticalTabs") or -moz-pref("uc.flex.fully-hide-toolbox") or -moz-pref("uc.flex.disable-tabs-toolbar-autohide")) {
    :root:not([inFullscreen]):not([titlepreface*="\200b "]) {
        /* Hide the native horizontal tab bar */
        &:not([customizing], [chromehidden~="menubar"]) #TabsToolbar {
            margin-bottom: var(--uc-autohide-bottom);
        }
        #navigator-toolbox {
            /* The z-index property is no longer needed after version 133 */
            z-index: 5;
            transition: margin-bottom var(--uc-tabs-hide-animation-duration) ease-out
                var(--uc-tabs-hide-animation-delay) !important;
            --browser-area-z-index-toolbox: 3;
        }
        #TabsToolbar:not([customizing]) {
            visibility: hidden;
            transition:
                visibility 0ms linear var(--uc-tabs-hide-animation-delay),
                margin-bottom var(--uc-tabs-hide-animation-duration) ease-out var(--uc-tabs-hide-animation-delay) !important;
        }
        /* These rules make sure that height of tabs toolbar doesn't exceed tab-min-height */
        #tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
            max-height: var(--tab-min-height);
        }
        .tab-label {
            line-height: 20px !important;
        }
        &[uidensity="compact"] .tab-label {
            line-height: 18px !important;
        }
        /* ---- Show tab bar on hover when Sidebery is inactive ---- */
        &:not([customizing], [chromehidden~="menubar"]) #navigator-toolbox:hover {
            margin-bottom: var(--uc-autohide-navigator-bottom);
        }
        #navigator-toolbox:hover {
            transition-delay: var(--uc-autohide-navigator-delay) !important;
            /* Direct child selectors can be used starting from version 133 */
            #TabsToolbar {
                visibility: var(--uc-autohide-tabstoolbar-visibility);
                margin-bottom: var(--uc-autohide-tabstoolbar-bottom);
                transition-delay: var(--uc-autohide-tabstoolbar-delay) !important;
            }
        }
    }
}

/** 
 * The auto-hide horizontal tabs feature excludes scenarios like 
 * "fullscreen," "disable tab hiding," and "hide top toolbar." 
 * Specific rules are required for these cases. 
 */
/* Hide tabs bar for Tree style tabs (Credit u/jfgxyz on Reddit) */
/*
toolbar#TabsToolbar {
    height: 0px;
    min-height: 0 !important;
    background-color: var(--bg) !important;
}
*/
.toolbar-items {
    visibility: var(--uc-tab-items-visibility, inherit);
}
