/* Modified from https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/autohide_tabstoolbar_v2.css */
/* be179ef */
@media not (-moz-pref("sidebar.verticalTabs") or -moz-pref("uc.flex.fully-hide-toolbox") or -moz-pref("uc.flex.disable-tabs-toolbar-autohide")) {
    :root:not([inFullscreen], [titlepreface*="\200b "], [titlepreface*="\200d "]) {
        /* Hide the native horizontal tab bar */
        &:not([customizing], [chromehidden~="menubar"]) #TabsToolbar {
            margin-bottom: var(--uc-autohide-bottom);
        }
        #navigator-toolbox {
            transition:
                background-color var(--inactive-window-transition),
                margin-bottom var(--uc-tabs-hide-animation-duration) ease-out var(--uc-tabs-hide-animation-delay),
                z-index 0ms linear calc(var(--uc-autohide-toolbar-delay) + 80ms + 10ms) allow-discrete !important;
            @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                -moz-pref("uc.flex.browser-wallpaper-enabled") {
                transition:
                    background-color var(--inactive-window-transition),
                    margin-bottom var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-autohide-sidebar-delay),
                    z-index 0ms linear
                        calc(var(--uc-autohide-sidebar-delay) + var(--uc-autohide-transition-duration) + 10ms)
                        allow-discrete !important;
            }
        }
        #TabsToolbar:not([customizing]) {
            visibility: hidden;
            transition:
                visibility 0ms linear var(--uc-tabs-hide-animation-delay),
                margin-bottom var(--uc-tabs-hide-animation-duration) ease-out var(--uc-tabs-hide-animation-delay) !important;
            @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                -moz-pref("uc.flex.browser-wallpaper-enabled") {
                transition:
                    visibility 0ms linear var(--uc-autohide-sidebar-delay),
                    margin-bottom var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-autohide-sidebar-delay) !important;
            }
        }
        /* These rules make sure that height of tabs toolbar doesn't exceed tab-min-height */
        #tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
            max-height: var(--tab-min-height);
        }
        .tab-label {
            line-height: 20px !important;
        }
        &[uidensity="compact"] .tab-label {
            line-height: 18px !important;
        }
        /* ---- Show tab bar on hover when Sidebery is inactive ---- */
        &:not([customizing], [chromehidden~="menubar"]) #navigator-toolbox:hover {
            margin-bottom: var(--uc-autohide-navigator-bottom);
        }
        #navigator-toolbox:hover {
            /**
             * When automatic hiding of the bookmarks toolbar is disabled and Sidebery is active,
             * set z-index to 0 so that Sidebery can appear above the bookmarks toolbar.
             * In other cases, it should be set to 3 so horizontal tabs can appear above the content area.
             */
            --browser-area-z-index-toolbox: var(--uc-sb-bm-disable-autohide-z-index, 3);
            transition:
                background-color var(--inactive-window-transition),
                margin-bottom var(--uc-tabs-hide-animation-duration) ease-out var(--uc-autohide-navigator-delay),
                z-index 0ms linear 0ms allow-discrete /* calc(var(--uc-hover-toolbar-delay) - 10ms) */ !important;
            @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                -moz-pref("uc.flex.browser-wallpaper-enabled") {
                transition:
                    background-color var(--inactive-window-transition),
                    margin-bottom var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-hover-sidebar-delay),
                    z-index 0ms linear 0ms allow-discrete /* calc(var(--uc-hover-sidebar-delay) - 10ms) */ !important;
            }
            /* Direct child selectors can be used starting from version 133 */
            #TabsToolbar {
                visibility: var(--uc-autohide-tabstoolbar-visibility);
                margin-bottom: var(--uc-autohide-tabstoolbar-bottom);
                transition-delay: var(--uc-autohide-tabstoolbar-delay) !important;
                @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                    -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                    -moz-pref("uc.flex.browser-wallpaper-enabled") {
                    /*
                    transition-duration: var(--uc-hover-transition-duration) !important;
                    transition-delay: var(--uc-hover-sidebar-delay) !important;
                    */
                    transition:
                        visibility 0ms linear var(--uc-hover-sidebar-delay),
                        margin-bottom var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                            var(--uc-hover-sidebar-delay) !important;
                }
            }
        }
    }
}

/** 
 * The auto-hide horizontal tabs feature excludes scenarios like 
 * "fullscreen," "disable tab hiding," and "hide top toolbar." 
 * Specific rules are required for these cases. 
 */
/* Hide tabs bar for Tree style tabs (Credit u/jfgxyz on Reddit) */
/*
toolbar#TabsToolbar {
    height: 0px;
    min-height: 0 !important;
    background-color: var(--uc-bgcolor) !important;
}
*/
@media not -moz-pref("sidebar.verticalTabs") {
    .toolbar-items {
        visibility: var(--uc-tab-items-visibility, inherit);
    }
}
