/* Modified from https://github.com/christorange/VerticalFox/blob/main/windows/userChrome.css */
/* Fix urlbar height issue after v133 */
@media -moz-pref("uc.flex.increase-navbar-height") {
    #urlbar-container {
        padding-top: 5.5px !important;
    }
}

#urlbar[breakout][breakout-extend] {
    margin-left: 0 !important;
    width: var(--urlbar-width) !important;
}

#urlbar[breakout][breakout-extend],
#urlbar[breakout][breakout-extend-disabled][open] {
    height: auto !important;
    top: auto !important;
}

/* URL BAR */
#urlbar {
    border-radius: var(--uc-urlbar-border-radius, var(--toolbarbutton-border-radius)) !important;
    border: 0 !important;
    @media -moz-pref("uc.flex.dim-urlbar-popup-backdrop") {
        box-shadow: 0 0 0 100vw transparent;
        transition: box-shadow 250ms ease-out !important;
    }
}

#urlbar:not(.megabar):not([focused]):not([breakout-extend]):hover {
    outline: 1px solid var(--uc-urlbar-outline);
}

#urlbar[focused] {
    border: 0 !important;
    border-top: 1px solid var(--uc-urlbar-border-top, currentcolor) !important;
    border-bottom: 1px solid var(--uc-urlbar-border-bottom, currentcolor) !important;
    border-radius: var(--uc-urlbar-border-radius, var(--toolbarbutton-border-radius)) !important;
}

#urlbar[breakout][breakout-extend] {
    border: none !important;
    /*
    box-shadow:
        rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
    top: calc(
        (var(--uc-nav-bar-height) - var(--urlbar-height)) / 2
    ) !important;
    */

    @media -moz-pref("uc.flex.dim-urlbar-popup-backdrop") {
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, var(--uc-urlbar-popup-dimness));
        transition: box-shadow 250ms ease-out !important;
        /*
        &::backdrop {
            background-color: rgb(0 0 0 / var(--uc-urlbar-popup-dimness));
        }
        */
    }
}

#urlbar-container {
    /*
    margin-bottom: 3px;
    */
    display: initial;
}

#urlbar-background,
.urlbar-background {
    box-shadow: none !important;
    border-radius: var(--uc-urlbar-border-radius, var(--toolbarbutton-border-radius)) !important;
    background: var(--uc-urlbar-bg, var(--toolbar-field-background-color)) !important;
}

#urlbar[focused] :where(#urlbar-background, .urlbar-background) {
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.35) !important;
    outline: none !important;
}

#wrapper-urlbar-container #urlbar {
    height: var(--urlbar-height) !important;
}

/* Active Address/Search Field Dropdown */
#urlbar[breakout][breakout-extend] > :where(#urlbar-background, .urlbar-background) {
    outline: none !important;
    box-shadow:
        rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
    /*
    box-shadow: none !important;
    */
    background: var(--uc-urldrop-bg, var(--toolbar-field-focus-background-color)) !important;
    border-radius: var(--uc-urlbar-popup-border-radius, var(--toolbarbutton-border-radius)) !important;
}

#urlbar[breakout][breakout-extend] > .urlbar-input-container,
.urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0px !important;
    padding-inline: 0px !important;
    /*
    transition: none !important;
    */
}

/* .urlbar-input-container padding shifts this up. Add top padding to fix alignment. */
#notification-popup-box {
    padding-block-start: 2px;
}

/* Idendity icon button */
#identity-icon-box.identity-box-button {
    margin: 3px 3px 3px 3px;
    border-radius: var(--uc-urlbar-icon-radius, var(--urlbar-icon-border-radius)) !important;
    background-color: var(--uc-identity-btn-bgcolor) !important;
    opacity: 0.8;
}

#identity-icon-box.identity-box-button:hover {
    cursor: pointer;
    background-color: var(--identity-btn-hover-color, var(--urlbar-box-hover-bgcolor)) !important;
}

/* Track protection icon */
#tracking-protection-icon-container {
    border-radius: var(--uc-urlbar-icon-radius, var(--urlbar-icon-border-radius)) !important;
}

#tracking-protection-icon-container:hover {
    cursor: pointer !important;
}

/* Star button */
#star-button-box {
    border-radius: var(--uc-urlbar-icon-radius, var(--urlbar-icon-border-radius)) !important;
}

#star-button-box {
    cursor: pointer !important;
}

/* | Borders | */

.tabbrowser-tab::after {
    border: 0 !important;
}
.titlebar-spacer[type="pre-tabs"] {
    border: 0 !important;
}
#navigator-toolbox {
    border: 1 !important;
}

.titlebar-spacer[type="pre-tabs"] {
    border: 0 !important;
}

.tabbrowser-tab::after {
    border: 0 !important;
}

#urlbar-background,
.urlbar-background {
    border: 0 !important;
}

#urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner {
    border-top: 0 !important;
}

/* Show URL buttons on Hover */
/* !v143 */
#nav-bar:not([customizing="true"]):not([customizing=""])
    > #nav-bar-customization-target
    > #urlbar-container:not(:hover)
    > #urlbar:not([focused])
    > .urlbar-input-container {
    > #page-action-buttons
        > *:not(
            #userContext-icons,
            #reader-mode-button[readeractive],
            #picture-in-picture-button[pipactive],
            #translations-button[open],
            #urlbar-zoom-button:not([hidden]),
            #star-button-box
        ),
    > #page-action-buttons > #star-button-box:not([open]) > #star-button:not([starred]),
    > #tracking-protection-icon-container:not([open]) {
        opacity: 0;
        transition: opacity var(--uc-autohide-navbar-icons-duration) var(--uc-autohide-navbar-icons-type);
    }
    > #identity-box {
        > #identity-permission-box:not([open]),
        > #notification-popup-box:not([open]) {
            visibility: collapse;
            opacity: 0;
            transition:
                opacity var(--uc-autohide-navbar-icons-duration) var(--uc-autohide-navbar-icons-type),
                visibility var(--uc-collapse-navbar-icons-duration) var(--uc-autohide-navbar-icons-type);
        }
    }
}

#urlbar-container:hover {
    transition: opacity var(--uc-hover-navbar-icons-duration) var(--uc-autohide-navbar-icons-type);
}

/* Searchmode Switcher */
#urlbar[pageproxystate="valid"]:not([breakout-extend]):not([focused]):not([searchmode])
    #urlbar-searchmode-switcher:not([open]) {
    display: none;
}

#urlbar:is([pageproxystate="invalid"], [searchmode]) #urlbar-searchmode-switcher {
    margin-left: 3px !important;
}

#urlbar-searchmode-switcher {
    margin-top: 3px !important;
    height: 25px !important;
    background-color: transparent !important;
    border-top-left-radius: var(--uc-urlbar-border-radius, var(--urlbar-icon-border-radius)) !important;
    border-bottom-left-radius: var(--uc-urlbar-border-radius, var(--urlbar-icon-border-radius)) !important;
    border-top-right-radius: var(--uc-urlbar-icon-inner-radius, var(--urlbar-icon-border-radius)) !important;
    border-bottom-right-radius: var(--uc-urlbar-icon-inner-radius, var(--urlbar-icon-border-radius)) !important;
    &:hover:not([open="true"]) {
        background-color: var(--urlbar-box-hover-bgcolor) !important;
    }
}

#searchmode-switcher-chicklet {
    margin-top: 3px;
    height: 25px !important;
    background-color: transparent !important;
    border-radius: var(--uc-urlbar-icon-inner-radius, var(--urlbar-icon-border-radius)) !important;
    padding-left: 6px;
    &:hover:not([open="true"]) {
        background-color: var(--urlbar-box-hover-bgcolor) !important;
    }
}

#urlbar-zoom-button {
    background-color: var(--uc-toolbar-bgcolor) !important;
    border-radius: var(--uc-urlbar-icon-radius, var(--urlbar-icon-border-radius)) !important;
    opacity: 0.8;
    &:hover {
        background-color: var(--urlbar-box-hover-bgcolor) !important;
    }
}

/* Bookmark Star Icon */
@media not -moz-pref("uc.flex.revert-to-original-bookmark-star-icon") {
    #pageAction-panel-bookmark[starred],
    #star-button[starred] {
        list-style-image: var(--uc-bookmark-star-image) !important;
        fill: color-mix(in srgb, var(--uc-bookmark-star-color) 90%, var(--uc-toolbar-bgcolor)) !important;
        @media -moz-pref("uc.flex.enable-gradient-highlight") {
            &:not(:hover) {
                list-style-image: none !important;
                background: var(--uc-gradient-highlight);
                mask-image: var(--uc-bookmark-star-image);
                mask-position: 0px 0px;
                mask-repeat: no-repeat;
                mask-size: 16px;
            }
        }
    }

    #pageAction-panel-bookmark[starred],
    #star-button-box:is(:hover, [open]) #star-button[starred] {
        fill: var(--toolbarbutton-icon-fill) !important;
    }

    #pageAction-panel-bookmark,
    #star-button {
        list-style-image: url("../icons/bookmark/bookmark-empty.svg") !important;
    }
}

/*
#page-action-buttons {
    transition: opacity 0.15s ease;
}
#tracking-protection-icon-container {
    transition: opacity 0.15s ease;
}
*/

/* Searchbar color */
#searchbar {
    background-color: var(--uc-urlbar-bg-transparent, var(--toolbar-field-background-color)) !important;
    background-clip: border-box;
    border: 1px solid var(--toolbar-field-border-color);
    border-radius: var(--uc-urlbar-border-radius, var(--toolbarbutton-border-radius)) !important;
}

#PopupSearchAutoComplete {
    border-radius: var(--uc-searchbar-popup-border-radius, var(--toolbarbutton-border-radius));
    --panel-shadow-margin: 0px !important;
    background-color: var(--uc-toolbar-bgcolor);
    --panel-color: var(--toolbar-field-focus-color);
    --panel-background: var(--uc-urlbar-bg-transparent, var(--toolbar-field-focus-background-color)) !important;
    --panel-border-color: var(--arrowpanel-border-color);
}
