/* Modified from https://github.com/christorange/VerticalFox/blob/main/windows/userChrome.css */

/* Hide menubar window controls when menubar is inactive */
:root:is([tabsintitlebar], [customtitlebar]):not([customizing]) {
    &:not([inFullscreen]) {
        #toolbar-menubar[inactive="true"] > .titlebar-buttonbox-container {
            display: none !important;
        }

        /* Hide TabsToolbar and nav-bar window controls when menubar is active */
        #toolbar-menubar:not([inactive="true"]) ~ :is(#TabsToolbar, #nav-bar) > .titlebar-buttonbox-container {
            display: none !important;
        }
    }

    /* Hide TabsToolbar window controls when native vertical tabs are enabled */
    #navigator-toolbox[tabs-hidden] > #TabsToolbar > .titlebar-buttonbox-container {
        display: none !important;
    }

    #navigator-toolbox[tabs-hidden] > #nav-bar > .titlebar-spacer[type="post-tabs"] {
        display: none !important;
    }

    #navigator-toolbox[tabs-hidden] > #nav-bar > .titlebar-buttonbox-container {
        margin-left: -4px;
    }

    #navigator-toolbox .titlebar-spacer[type="pre-tabs"] {
        display: none !important;
    }
}

/* Adjust menubar (title bar) height */
:root:is([tabsintitlebar], [customtitlebar]):not([customizing]):not([inFullscreen]) {
    #navigator-toolbox #toolbar-menubar[autohide="false"] {
        margin-top: 0px;
        margin-bottom: -7px;
    }

    #navigator-toolbox #toolbar-menubar[autohide="false"] > .titlebar-buttonbox-container {
        margin-top: -7px;
        margin-bottom: 0px;
    }

    #navigator-toolbox #toolbar-menubar[autohide="true"]:not([inactive="true"]) {
        margin-top: 0px;
        margin-bottom: -23px;
    }

    #navigator-toolbox #toolbar-menubar[autohide="true"]:not([inactive="true"]) > .titlebar-buttonbox-container {
        margin-top: -7px;
        margin-bottom: 0px;
    }
}

/* Reposition nav-bar window controls when native vertical tabs are enabled */
@media -moz-pref("sidebar.verticalTabs") {
    :root:not([inFullscreen]) #nav-bar > .titlebar-buttonbox-container {
        margin-top: 2px;
    }

    :root[inFullscreen] #nav-bar > .titlebar-buttonbox-container {
        margin-top: 0px;
    }
}

/* Fix popup position */
#appMenu-popup {
    margin-inline: -244px !important;
}

/* ════════════════════════════════════════════════════════════════════
   ██╗    ██╗██╗███╗   ██╗██████╗  ██████╗ ██╗    ██╗███████╗     ██████╗ ██████╗ ███╗   ██╗████████╗██████╗  ██████╗ ██╗     ███████╗
   ██║    ██║██║████╗  ██║██╔══██╗██╔═══██╗██║    ██║██╔════╝    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔═══██╗██║     ██╔════╝
   ██║ █╗ ██║██║██╔██╗ ██║██║  ██║██║   ██║██║ █╗ ██║███████╗    ██║     ██║   ██║██╔██╗ ██║   ██║   ██████╔╝██║   ██║██║     ███████╗
   ██║███╗██║██║██║╚██╗██║██║  ██║██║   ██║██║███╗██║╚════██║    ██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██╗██║   ██║██║     ╚════██║
   ╚███╔███╔╝██║██║ ╚████║██████╔╝╚██████╔╝╚███╔███╔╝███████║    ╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║╚██████╔╝███████╗███████║
    ╚══╝╚══╝ ╚═╝╚═╝  ╚═══╝╚═════╝  ╚═════╝  ╚══╝╚══╝ ╚══════╝     ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝
                                                                                                                                      
═════════════════════════════════════════════════════════════════════ */

/* Fix issue with missing window controls. */
#titlebar,
#TabsToolbar {
    will-change: unset !important;
    transition: none !important;
    opacity: 1 !important;
}

/* ----- Close/min/max fix ----- */
:root:is([tabsintitlebar], [customtitlebar]):not([customizing]) {
    #TabsToolbar .titlebar-buttonbox-container {
        visibility: var(--uc-windows-controls-visibility) !important;
        /*display: block;*/
        position: var(--uc-windows-controls-position) !important;
        top: var(--uc-windows-controls-top) !important;
        /*left: unset !important;*/
        right: calc(var(--uc-windows-controls-right) + var(--uc-sidebar-button-offset)) !important;
    }
}

/*
#TabsToolbar .titlebar-min {
    -moz-box-ordinal-group: 0 !important;
}

#TabsToolbar .titlebar-max,
.titlebar-restore {
    -moz-box-ordinal-group: 1 !important;
}

#TabsToolbar .titlebar-close {
    -moz-box-ordinal-group: 2 !important;
}

&[inFullscreen] #navigator-toolbox #TabsToolbar .titlebar-buttonbox-container {
    -moz-box-ordinal-group: 1 !important;
}

#navigator-toolbox #TabsToolbar .titlebar-buttonbox-container {
    -moz-box-ordinal-group: 1 !important;
}
*/

/* Line up the Windows controls with the rest of the icons in the toolbar. */
:root[inFullscreen] .titlebar-buttonbox-container {
    padding-top: 2px;
}

.titlebar-buttonbox {
    z-index: 3 !important;
    padding-right: 3px;
}

.titlebar-buttonbox * {
    border-radius: 5px;
    width: 35px;
    /* height: 38px; */
    height: var(--uc-titlebar-buttonbox-height);
}

/* ════════════════════════════════════════════════════════════════════
   ███╗   ██╗ █████╗ ██╗   ██╗    ██████╗  █████╗ ██████╗ 
   ████╗  ██║██╔══██╗██║   ██║    ██╔══██╗██╔══██╗██╔══██╗
   ██╔██╗ ██║███████║██║   ██║    ██████╔╝███████║██████╔╝
   ██║╚██╗██║██╔══██║╚██╗ ██╔╝    ██╔══██╗██╔══██║██╔══██╗
   ██║ ╚████║██║  ██║ ╚████╔╝     ██████╔╝██║  ██║██║  ██║
   ╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝      ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
                                                          
═════════════════════════════════════════════════════════════════════ */

/* ----  Move nav-bar to make room for window controls ---- */
/**
 * Condition A excludes cases where the title bar is enabled. 
 * However, since the title bar is not displayed in fullscreen mode, 
 * we need to add Condition B (`:root[inFullscreen]`) to account for that scenario. 
 */
:root:is([tabsintitlebar], [customtitlebar]):not([customizing]),
:root[inFullscreen] {
    #nav-bar {
        padding-right: calc(var(--uc-nav-bar-padding-right) + var(--uc-sidebar-button-offset)) !important;
    }
}

/* Add left padding to the first item in the nav bar for alignment with the vertical tabs */
#nav-bar-customization-target {
    & > :is(toolbarbutton, toolbaritem):first-child,
    & > toolbarpaletteitem:first-child > :is(toolbarbutton, toolbaritem) {
        padding-inline-start: var(--uc-nav-bar-padding-left) !important;
    }
}

:root:not([customizing]) {
    @media not -moz-pref("uc.flex.disable-nav-bar-first-item-right-padding") {
        /* Add right padding to the first item in the nav bar for alignment with the vertical tabs */
        &:not([inFullscreen]) {
            #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):first-child:not(#personal-bookmarks) {
                padding-right: var(--uc-nav-bar-first-child-padding-right) !important;
            }
        }
        /* If the second item is the bookmarks toolbar, add extra left padding for proper spacing */
        #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):nth-child(2)#personal-bookmarks {
            padding-left: var(--uc-nav-bar-second-bookmarks-padding-left) !important;
        }
    }

    /* Offset the navigator toolbox to account for the width of the vertical tabs */
    &:not([inFullscreen]) {
        @media not -moz-pref("uc.flex.fully-hide-sidebery") {
            &:not([titlepreface*="\200c "], [titlepreface*="\200d "]) {
                @media -moz-pref("uc.flex.fully-hide-toolbox") {
                    #navigator-toolbox {
                        margin-left: var(--uc-navigator-offset);
                        width: calc(100% - var(--uc-navigator-width));
                    }
                }
                @media not -moz-pref("uc.flex.fully-hide-toolbox") {
                    &[titlepreface*="\200b "] {
                        #navigator-toolbox {
                            margin-left: var(--uc-navigator-offset);
                            width: calc(100% - var(--uc-navigator-width));
                        }
                    }
                }
            }
        }
    }

    /* Prevent navigation bar background overflow in certain themes */
    #navigator-toolbox {
        border-bottom: none !important;
    }
}

@media -moz-pref("sidebar.revamp") {
    /**
     * Increase the z-index of the navigation bar in fullscreen mode  
     * to prevent it from being obscured by the revamped sidebar.
     */
    @media -moz-pref("uc.flex.fully-hide-sidebery"), (display-mode: fullscreen) {
        #navigator-toolbox {
            z-index: calc(var(--browser-area-z-index-toolbox-while-animating) + 1) !important;
        }
    }
    @media not -moz-pref("uc.flex.fully-hide-sidebery") {
        :root:is([titlepreface*="\200c "], [titlepreface*="\200d "]) {
            #navigator-toolbox {
                z-index: calc(var(--browser-area-z-index-toolbox-while-animating) + 1) !important;
            }
        }
    }
}

/* ════════════════════════════════════════════════════════════════════
   ██████╗ ███████╗██████╗ ███████╗ ██████╗ ███╗   ██╗ █████╗ ██╗  ████████╗ ██████╗  ██████╗ ██╗     ██████╗  █████╗ ██████╗ 
   ██╔══██╗██╔════╝██╔══██╗██╔════╝██╔═══██╗████╗  ██║██╔══██╗██║  ╚══██╔══╝██╔═══██╗██╔═══██╗██║     ██╔══██╗██╔══██╗██╔══██╗
   ██████╔╝█████╗  ██████╔╝███████╗██║   ██║██╔██╗ ██║███████║██║     ██║   ██║   ██║██║   ██║██║     ██████╔╝███████║██████╔╝
   ██╔═══╝ ██╔══╝  ██╔══██╗╚════██║██║   ██║██║╚██╗██║██╔══██║██║     ██║   ██║   ██║██║   ██║██║     ██╔══██╗██╔══██║██╔══██╗
   ██║     ███████╗██║  ██║███████║╚██████╔╝██║ ╚████║██║  ██║███████╗██║   ╚██████╔╝╚██████╔╝███████╗██████╔╝██║  ██║██║  ██║
   ╚═╝     ╚══════╝╚═╝  ╚═╝╚══════╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝  ╚═╝╚══════╝╚═╝    ╚═════╝  ╚═════╝ ╚══════╝╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
                                                                                                                              
═════════════════════════════════════════════════════════════════════ */

/* Fix bookmarks toolbar height to prevent toolbar buttons from altering its size */
#PersonalToolbar {
    height: calc(var(--uc-bm-height) + 2 * var(--uc-bm-padding));
}

/* Offset bookmarks toolbar horizontally when Sidebery is visible to prevent overlap with sidebar */
@media not (-moz-pref("uc.flex.fully-hide-toolbox") or -moz-pref("uc.flex.fully-hide-sidebery")) {
    :root:not(
            [inFullscreen],
            [customizing],
            [titlepreface*="\200b "],
            [titlepreface*="\200c "],
            [titlepreface*="\200d "]
        ) {
        #PersonalToolbar {
            margin-left: var(--uc-personal-toolbar-offset);
            width: calc(100% - var(--uc-personal-toolbar-width));
        }
    }
}

/**
 * Avoid overlap of the bookmarks toolbar by the sidebar
 * when "Only Show Bookmarks Toolbar on New Tab" is enabled for Firefox >= 130 
 */
@media -moz-pref("uc.flex.disable-bookmarks-autohide") {
    :root:not([inFullscreen]):not([customizing]) {
        #navigator-toolbox:has(#PersonalToolbar[collapsed="false"])
            + #browser
            #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]) {
            padding-top: 0px;
            margin-top: var(--uc-bm-disable-autohide-offset);
            @media -moz-pref("sidebar.revamp") {
                margin-top: calc(var(--uc-sb-sidebar-main-stripe-height) + var(--uc-sb-sidebar-main-margin-top));
            }
        }
        @media -moz-pref("sidebar.revamp") {
            #navigator-toolbox:has(#PersonalToolbar[collapsed="true"]) + #browser {
                #sidebar-main {
                    margin-top: 0;
                }
            }
            #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]) {
                margin-top: var(--uc-sb-sidebar-main-stripe-height);
            }
        }
    }
}
